---
import CartIcon from './CartIcon';
import { getTestId } from '../utils/testId';
---

<nav
  data-testid={getTestId('navbar')}
  class="navbar"
>
  <a
    href="/"
    data-testid={getTestId('nav-logo')}
    class="navbar__logo"
  >
    Test Automation Practice <span class="navbar__logo-accent">Shop</span>
  </a>

  <ul class="navbar__nav">
    <li>
      <a
        href="/"
        data-testid={getTestId('nav-home')}
        class="navbar__link"
      >
        Home
      </a>
    </li>
    <li>
      <a
        href="/shop"
        data-testid={getTestId('nav-shop')}
        class="navbar__link"
      >
        Shop
      </a>
    </li>
    <li>
      <a
        href="/contact"
        data-testid={getTestId('nav-contact')}
        class="navbar__link"
      >
        Contact
      </a>
    </li>
  </ul>

  <div class="navbar__actions">
    <CartIcon client:load />
    <button
      id="open-login-modal"
      data-testid={getTestId('nav-login-btn')}
      class="navbar__login-btn"
    >
      Login
    </button>
    <a
      href="/signup"
      data-testid={getTestId('nav-signup-btn')}
      class="navbar__signup-btn"
    >
      Sign Up
    </a>
  </div>
</nav>
